<a href="https://colab.research.google.com/github/Nikhil570/CRT-Program/blob/master/4_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Functional Programming
1.simple
2.easy to understand
3.better to reuseabitity
4.length of program will be divided into sub programs

 def name of function(<parameters>):
 statements
 return

#read a number
#print the even digit sum from the number

#read a number
#print the even digit sum from the number

In [0]:
#input:1234
#output:6(2+4)

In [5]:
def evenDigitsum(n):
   s=0
   while n !=0:
      r=n %10
      if r%2==0:
           s=s+r
      n=n // 10 
   return s
evenDigitsum(1234)

6

In [7]:
def square(x):
  print(x*x)
print(square(4))

16
None

In [8]:
def square(x):
  return x*x
square(3)

9

In [10]:
def cube(x):
  return x*x*x
cube(3)

27

In [12]:
def multiply(x,y=0):
  print("value of x=",x)
  print("value of y=",y)
  return(x*y)
print(multiply(y=2,x=4))

value of x= 4
value of y= 2
8

#Swapping values

In [18]:
# swap values
def swap(x,y):
  temp = x
  x=y
  y=temp
  return 2,3
print(swap(2,3))

(2, 3)

In [25]:
#input : 19535
#output : 9 (large digit of the given no)
def largeDigit(n):
  large=0
  while n!=0:
    r=n%10
    if large < r:
      large = r
    n=n//10
  return large 
largeDigit(19535)

9

##For Loop

syntax1:
for i in range(start,stop,step)
>statements
syntax2:
for i in iterableobject:
>statements

In [31]:
def printseries(lb,ub):
    for x in range(lb,ub+1):
        print(x,end = ' ')
    return
printseries(1,10)

1 2 3 4 5 6 7 8 9 10

## Collection types:
1.List
2.Tuple
3.set
4.dictionary

#### List
1.one of the data structure in python
2.data structure means to store,sort and search options

2.It's one common data structures in python,the items of list seperated by coma and enclosed in square brackets

Examples

List=[1,2,3,4,5]-List2=["Gitam",1,2]

In [32]:
li=[1,8,16,9,2]
print(li)#will print all the list items
print(li[0])
print(li[-5])
print(li[1:])
print(li[1:4])
print(li[-4:-1])

[1, 8, 16, 9, 2]
1
1
[8, 16, 9, 2]
[8, 16, 9]
[8, 16, 9]